@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");


*{
    margin:0;
    padding : 0;
    box-sizing: border-box;
    background-color: #f2ebe3;
}

#wrapper{
    margin:20px;
    padding: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    

}

.container{
    width:700px;
    height:400px;
    display:flex;
    margin:0 auto;
    justify-content: center;
    align-content: center;
    background-color:white;
    border-radius: 20px;
    overflow:hidden;
}



.image{
    width:45%;
    height:100%;
    overflow: hidden;
    object-fit: cover;
}

.image img{
    width:100%;
    height: 100%;
    object-fit:cover;

}


.details{
    display:flex;
    margin:9.6px;
    flex-direction: column;
    position:relative;
    width:55%;
    
}

.h1{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #70768f;
    letter-spacing: 5px;
    margin: 1em 0;
    
    position:absolute;
    left: 0;
    top:0;

    

}

.heading{
    font-size: 22px;
    font-weight: 700;
    font-family: "Fraunces", sans-serif;
    margin: 0.6em 0 0.7em 0;
    line-height: 2em;
    position: absolute;
    left:0;
    top:1.8em;
  }

.para{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #70768f;
    line-height: normal;
    margin-bottom: 1.5em;
    position: absolute;
    left:0;
    top:10em;
}

.buy{
    position:absolute;
    top: 19.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    left:5em;
    width:15em;
    height:3em;
    text-align: center;
    background-color: #35705A;
    border-radius: 10px;
}

.buy p{
    background-color:#35705A;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    
}
